<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>showsDynasticBranding</key>
	<false/>
	<key>companyName</key>
	<string>Eric Rabil</string>
	<key>firstCopyrightYear</key>
	<string>2020</string>
	<key>headerColour</key>
	<string>0.64:0.80:0.69</string>
	<key>tintColour</key>
	<string>0.64:0.80:0.69</string>
	<key>tintColour:dark</key>
	<string>0.53:0.67:0.57</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ericrabil.musica.skinny</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.ericrabil.musica.skinny.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Button Hold Trigger</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.ericrabil.musica.skinny</string>
			<key>key</key>
			<string>com.ericrabil.musica.action.hold</string>
			<key>validTitles</key>
			<array>
      			<string>ANC</string>
      			<string>Open App</string>
						<string>Original</string>
						<string>Nothing</string>
			</array>
      		<key>validValues</key>
			<array>
      			<string>0</string>
      			<string>1</string>
      			<string>2</string>
						<string>3</string>
			</array>
			<key>label</key>
			<string>Alignment</string>
			<key>PostNotification</key>
			<string>com.ericrabil.musica.skinny.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Select Application Override</string>
			<key>ALChangeNotification</key>
			<string>com.ericrabil.musica.skinny.changed</string>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>cell-class-name</key>
					<string>ALCheckCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>predicate</key>
					<string>isSystemApplication = TRUE</string>
					<key>ALSettingsDefaultValue</key>
					<string>com.apple.camera</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
				</dict>
				<dict>
					<key>cell-class-name</key>
					<string>ALCheckCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>predicate</key>
					<string>isSystemApplication = FALSE</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
				</dict>
			</array>
			<key>ALSettingsKey</key>
			<string>com.ericrabil.musica.skinny.app-selection</string>
			<key>ALSingleEnabledMode</key>
			<true/>
			<key>ALAllowsSelection</key>
			<true/>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.ericrabil.musica.skinny.plist</string>
			<key>bundle</key>
			<string>AppList</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Button Press Trigger</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.ericrabil.musica.skinny</string>
			<key>key</key>
			<string>com.ericrabil.musica.action.press</string>
			<key>validTitles</key>
			<array>
      			<string>Playback</string>
      			<string>Hardware</string>
						<string>Original</string>
						<string>Nothing</string>
			</array>
      		<key>validValues</key>
			<array>
      			<string>0</string>
      			<string>1</string>
      			<string>2</string>
						<string>3</string>
			</array>
			<key>label</key>
			<string>Alignment</string>
			<key>PostNotification</key>
			<string>com.ericrabil.musica.skinny.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Hardware Button Emulation</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<string>0</string>
			<key>defaults</key>
			<string>com.ericrabil.musica.skinny</string>
			<key>key</key>
			<string>com.ericrabil.musica.hardware-emulation</string>
			<key>validTitles</key>
			<array>
      			<string>Volume Up</string>
      			<string>Volume Down</string>
						<string>Power</string>
			</array>
      		<key>validValues</key>
			<array>
      			<string>0</string>
      			<string>1</string>
      			<string>2</string>
			</array>
			<key>label</key>
			<string>Alignment</string>
			<key>PostNotification</key>
			<string>com.ericrabil.musica.skinny.changed</string>
		</dict>
	</array>
</dict>
</plist>
